body {
    font-family: Verdana;
    /* padding: 15px;*/
}

.wrapper {
    background-color: white;
    margin: auto;
    width: 100%
}

.header {
    background-color: #005eb8;
    height: 150px;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: lightgrey;
    margin-top: 20px;
}

.topnav a{
    float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 14px 30px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: white;
    color: black;
}
.content {
    background-color: white;
}

.column.left {
    float: left;
    width: 10%;

}

.column.middle {
    float: left;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.column.right {
    float: right;
    width: 715px;
   }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    background-color: lightgrey;
    padding: 20px;
    margin-top: 20px;
    height: 700px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
}

.material-icons.bottom {
    vertical-align: bottom;
}

.footer {
    background-color: #005eb8;
    height: 100px;
    margin-top: 20px;
    padding: 20px;
}
